body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, hwb(266 7% 9%), #7db9e8);
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25 px;
    text-align: center;
}

canvas {
    background-color: #1d1d1d;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0,5);
}

#score {
    margin-top: 10px;
}